<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Countdown Timers</h1>
    <h2> {{user.username}}'s events</h2>
    <ul>
        {% if timers %}
            <ul>
                {% for timer in timers %}
                    <li>
                        {{ timer.title }} - {{ timer.expiration_date|date:"F j, Y" }}
                        (Remaining:
                        {% if timer.remaining_time.years > 0 %}{{ timer.remaining_time.years }} years{% endif %}
                        {% if timer.remaining_time.months > 0 %}{{ timer.remaining_time.months }} months{% endif %}
                        {% if timer.remaining_time.days > 0 %}{{ timer.remaining_time.days }} days{% endif %})
                        <a href="{% url 'delete' event_id=timer.id %}">Delete</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No events available.</p>
        {% endif %}

        <a href="/create">Create a new event</a>

        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
    </ul>
</body>
</html>